n8n/google_sheets_sync_workflow.json
{
  "name": "Supabase to GSheets (Dynamic Cycle & Multi-User) v1.5.1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "supabase-multi-webhook",
        "options": {}
      },
      "id": "1a2b3c4d-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $json.body ?? $json;\nconst record = payload.record || {};\nconst table = payload.table || '';\n\nconst metadata = record.metadata || {};\nconst personName = metadata.person_name || 'Me';\nconst targetSpreadsheetId = metadata.sheet_id || $env.SHEET_ID_DEFAULT || '';\nconst targetCycle = metadata.cycle_tag || metadata.debt_cycle_tag || metadata.statement_cycle_tag || record.debt_cycle || 'Uncategorized';\n\nif (!targetSpreadsheetId) {\n  throw new Error(`Missing spreadsheet id for person '${personName}'`);\n}\n\nlet dateFormatted = '';\nif (record.created_at) {\n  const d = new Date(record.created_at);\n  const dd = String(d.getDate()).padStart(2, '0');\n  const mm = String(d.getMonth() + 1).padStart(2, '0');\n  dateFormatted = `${dd}-${mm}`;\n} else if (metadata.date) {\n  dateFormatted = metadata.date;\n}\n\nconst typeDisplay = record.type_display || record.type || '';\nconst notesValue = record.note || record.notes || '';\nconst shopSource = metadata.shop_source || record.shop_source || '';\nconst cashbackPct = record.cashback_share_percent ? Math.round(record.cashback_share_percent * 100) : 0;\nconst finalPrice = metadata.final_price || record.final_price || record.amount || 0;\n\nreturn {\n  json: {\n    spreadsheetId: targetSpreadsheetId,\n    tableName: table,\n    cycle: targetCycle,\n    dateFormatted,\n    typeDisplay,\n    notesValue,\n    shopSource,\n    cashbackPct,\n    finalPrice,\n    data: record\n  }\n};"
      },
      "id": "2b3c4d5e-router",
      "name": "Dynamic Router (Phân luồng User & Cycle)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.tableName }}",
        "rules": {
          "rules": [
            {
              "value2": "transactions",
              "output": 0
            },
            {
              "value2": "debts",
              "output": 1
            }
          ]
        }
      },
      "id": "3c4d5e6f-switch",
      "name": "Switch (Check Table)",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "ID",
              "value": "={{ $json.data.id }}"
            },
            {
              "name": "Type",
              "value": "={{ $json.typeDisplay }}"
            },
            {
              "name": "Date",
              "value": "={{ $json.dateFormatted }}"
            },
            {
              "name": "Notes",
              "value": "={{ $json.notesValue }}"
            },
            {
              "name": "Amount",
              "value": "={{ $json.data.amount }}"
            },
            {
              "name": "% Back",
              "value": "={{ $json.cashbackPct }}"
            },
            {
              "name": "đ Back",
              "value": "={{ $json.data.cashback_share_fixed || 0 }}"
            },
            {
              "name": "ShopSource",
              "value": "={{ $json.shopSource }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3d4e5f6g-prepare-row",
      "name": "Prepare Sheet Row (for Auto Map)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        660,
        180
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $('Dynamic Router (Phân luồng User & Cycle)').item.json.spreadsheetId }}?fields=sheets.properties",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "id": "check-sheet-exists-http",
      "name": "Check Sheet Existence",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        880,
        180
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qi7b3ugwTvV969Ar",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const sheets = $json.sheets || [];\nconst targetCycle = $('Dynamic Router (Phân luồng User & Cycle)').item.json.cycle;\nconst templateSheet = sheets.find(s => s.properties.title === 'Template');\nconst targetSheet = sheets.find(s => s.properties.title === targetCycle);\n\nif (!templateSheet) {\n  throw new Error(\"Template sheet not found in the spreadsheet!\");\n}\n\nreturn {\n  json: {\n    sheetExists: !!targetSheet,\n    templateSheetId: templateSheet.properties.sheetId,\n    targetCycle: targetCycle,\n    spreadsheetId: $('Dynamic Router (Phân luồng User & Cycle)').item.json.spreadsheetId\n  }\n};"
      },
      "id": "process-sheet-status-code",
      "name": "Process Sheet Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.sheetExists }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-sheet-exists-if",
      "name": "IF Sheet Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1320,
        180
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Dynamic Router (Phân luồng User & Cycle)').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Dynamic Router (Phân luồng User & Cycle)').item.json.cycle }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Prepare Sheet Row (for Auto Map)').item.json.ID }}",
            "Type": "={{ $('Prepare Sheet Row (for Auto Map)').item.json.Type }}",
            "Date": "={{ $('Prepare Sheet Row (for Auto Map)').item.json.Date }}",
            "Notes": "={{ $('Prepare Sheet Row (for Auto Map)').item.json.Notes }}",
            "Amount": "={{ $('Prepare Sheet Row (for Auto Map)').item.json.Amount }}",
            "% Back": "={{ $('Prepare Sheet Row (for Auto Map)').item.json['% Back'] }}",
            "đ Back": "={{ $('Prepare Sheet Row (for Auto Map)').item.json['đ Back'] }}",
            "ShopSource": "={{ $('Prepare Sheet Row (for Auto Map)').item.json.ShopSource }}"
          }
        },
        "options": {
          "valueInputOption": "USER_ENTERED",
          "useAppend": false,
          "locationDefine": {
            "values": {
              "headerRow": 3,
              "firstDataRow": 4
            }
          }
        }
      },
      "id": "4d5e6f7g-gsheet-txn",
      "name": "GSheets (Append to Cycle Sheet)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1780,
        180
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qi7b3ugwTvV969Ar",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $('Process Sheet Status').item.json.spreadsheetId }}:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"requests\":[{\"duplicateSheet\":{\"sourceSheetId\":{{ $('Process Sheet Status').item.json.templateSheetId }},\"newSheetName\":\"{{ $('Process Sheet Status').item.json.targetCycle }}\",\"insertSheetIndex\":0}}]}",
        "options": {}
      },
      "id": "duplicate-template-sheet-http",
      "name": "Duplicate Template Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1560,
        260
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qi7b3ugwTvV969Ar",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Debts_Master",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.data.id }}",
            "transaction_id": "={{ $json.data.transaction_id || '' }}",
            "creditor": "={{ $json.data.creditor }}",
            "debtor": "={{ $json.data.debtor }}",
            "amount": "={{ $json.data.amount }}",
            "cycle": "={{ $json.cycle }}",
            "status": "={{ $json.data.status }}"
          }
        },
        "options": {
          "valueInputOption": "USER_ENTERED",
          "useAppend": false
        }
      },
      "id": "5e6f7g8h-gsheet-debt",
      "name": "GSheets (Append DEBT)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        700,
        420
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qi7b3ugwTvV969Ar",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Dynamic Router (Phân luồng User & Cycle)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dynamic Router (Phân luồng User & Cycle)": {
      "main": [
        [
          {
            "node": "Switch (Check Table)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch (Check Table)": {
      "main": [
        [
          {
            "node": "Prepare Sheet Row (for Auto Map)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GSheets (Append DEBT)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Sheet Row (for Auto Map)": {
      "main": [
        [
          {
            "node": "Check Sheet Existence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Sheet Existence": {
      "main": [
        [
          {
            "node": "Process Sheet Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Sheet Status": {
      "main": [
        [
          {
            "node": "IF Sheet Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Sheet Exists": {
      "main": [
        [
          {
            "node": "GSheets (Append to Cycle Sheet)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Duplicate Template Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Duplicate Template Sheet": {
      "main": [
        [
          {
            "node": "GSheets (Append to Cycle Sheet)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "v1.5.1"
}